<div class="container mt-5">
    <h3>Add new intervention</h3>


    <div class="card mt-5">
        <div class="card-body">
            <form [formGroup]="formData" (ngSubmit)="submit()" >
                <div class="form-group">
                    <label for="">Intervention desription</label>
                    <textarea class="form-control" formControlName="descriptino"></textarea>
                
                </div>
                <div class="form-group mt-3">
                    <button class="btn btn-success" [disabled]=" ! formData.valid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>