.green-name{
    color: green;
}

.orange-name{
    color: orange;
}

.bg-red{
    background-color: red;
    color: white;
}

.bg-green{
    background-color: green;
    color: white;
}


.feild{
    width: 100%;
    height: 100vh;
    background-color: green;
    position: relative;
}

.feild > .ball{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;

    
}