<app-navbar></app-navbar>


<div class="container mt-5">
    <h3>Blog</h3>

    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <a routerLink="/blog/dessin">dessin</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/blog/sport">sport</a>
                </li>

                <li class="list-group-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown button
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </div>
                </li>

                

                
                
              </ul>
        </div>


        <div class="col-sm-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>